:root {
  --navy-blue-primary: #003049;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
}
header {
  font-size: 1.5rem;
  top: 0;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

label {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.menu {
  position: absolute;
  right: -100px;
  top: -100px;
  /* z-index: 1000; */
  width: 200px;
  height: 200px;
  background: var(--navy-blue-primary);
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  width: 30px;
  height: 3px;
  top: 135px;
  left: 50px;
  background: #edf6f9;
  display: block;
  transform-origin: center;
  transition: 0.3s ease;
}

.hamburger::after,
.hamburger::before {
  transition: 0.3s ease;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}

.hamburger::after {
  top: -10px;
  left: -5px;
}
.hamburger::before {
  bottom: -10px;
  right: -5px;
}
input {
  display: none;
}

input:checked + .menu {
  box-shadow: 0 0 0 50vw #fff, 0 0 0 80vh #85c2eef6;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 0 50vw #fff, 0 0 0 80vh #85c2eef6;

  /* z-index: 1000; */
}

input:checked + .menu .hamburger {
  transform: rotate(45deg);
  background-color: #05a3ff;

  width: 40px;
  height: 3px;
}

input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  transform-origin: center;
  background: white;
  bottom: 2px;
}
input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  transform-origin: center;
  background: white;
  top: 2px;
}

input:checked + .menu + ul {
  opacity: 1;
}

ul {
  z-index: 200;
  position: absolute;
  top: 10%;
  right: -10%;
  transform: translate(-30%, 20%);
  opacity: 0;
  transition: 0.2s ease-in-out;
  list-style-type: none;
}

.hide {
  display: none;
}

#menuContent a {
  color: black;
  display: block;
  text-decoration: none;
  margin: 1.5rem;
  transition: 0.3s ease all;
  font-size: 2.5rem;
}

/* // HOME SECTION // */

.home-menu {
  color: #0047ab;
  font-weight: 700;
}

#menuContent li {
  position: relative;
}

#menuContent li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 20px;
  transition: 0.3s ease all;
  height: 3px;
  background: #0019fb;
}

#menuContent li a:hover::after {
  width: 70%;
  height: 3px;
}

/* sections */
#home {
  height: 100vh;
  width: 100%;
  align-items: left;
  flex-wrap: wrap;
  overflow: hidden;
}

#home h1,
#home h2,
#home h3 {
  margin-left: 2rem;
  /* color: whitesmoke; */
  margin-right: 2rem;
  position: relative;
  top: 20%;
  left: 2%;
  z-index: -100;
}

#home h1 {
  font-size: 3rem;
}
#home h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}
#home h3 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.my-name-home {
  position: relative;
}
.my-name-home::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background: rgb(162, 186, 241);
  bottom: 0;
  left: 0;
}

.my-name-home:hover {
  background: black;
}

.waves-home {
  position: absolute;
  bottom: 0;
  opacity: 0.7;
  max-width: 100%;
  width: 100%;
  z-index: -200;
  transition: 0.3s ease-in;
  height: 15rem;
}

/* // ABOUT SECTION // */
#about {
  /* padding: 7.5rem 0; */
  position: relative;
  color: var(--navy-blue-primary);
  z-index: -200;
}

.blank-div {
  height: 100px;
  width: 100%;
  /* border: 2px solid black; */
  position: absolute;
  top: -30px;
  left: 0;
  background: rgba(253, 253, 253, 0.144);
  background-blend-mode: lighten;
  border-top: 30px solid rgba(245, 245, 245, 0.157);
}
.waves-about {
  position: absolute;
  opacity: 0.4;
  top: -30px;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 10rem;
  transform: rotateX(180deg);
  z-index: -100;
  -webkit-transform: rotateX(180deg);
  z-index: -100;
  transition: 0.3s ease-in;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  padding: 0 2rem;
  line-height: 2rem;
  padding: 0 3rem;
  padding-top: 5rem;
}

#about h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  z-index: -100;
}
#about h3 {
  font-size: 1.6rem;
  z-index: -100;
  line-height: 2.3rem;
  font-weight: 400;
}

.palm {
  height: 30px;
  width: 30px;
}

/* // SKILLS SECTION // */
#skills {
  background: rgb(255, 255, 255);
  padding: 3rem 5rem;
  text-align: center;
  margin-top: 2rem;
}

.skill-icons div {
  color: whitesmoke;
  padding: 1.5rem 0rem;
  margin: 1rem 0;
  background: #002f49;
  border-radius: 0.3rem;
}
.skill-icons div i {
  display: block;
}

.skill-icons {
  display: grid;
}

@media (min-width: 710px) {
  .skill-icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1010px) {
  .skill-icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

/* // PROJECTS SECTION // */
#projects {
  background: white;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
}

#projects > h2 {
  color: var(--navy-blue-primary);
}

@media (min-width: 710px) {
  .p-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1010px) {
  .p-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.p-container {
  border: 3px solid #000;
  border-radius: 10px;
  background: rgb(246, 250, 250);
  margin: 2rem 0;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  line-height: 2rem;
  transition: 0.5s ease all;
}

/* *****specific background images****** */

.todofy {
  background-image: url("https://camo.githubusercontent.com/6d2d81de2bd10fa2a26be49f54ae92498edd8cccbac1e1b6a0eb12d58a53f547/68747470733a2f2f75706c6f6164732e636f646573616e64626f782e696f2f75706c6f6164732f757365722f34353433323762332d653339322d346131362d616332382d6339303731613832653732382f4e3037302d746f646f66792e706e67");
}

.moovieClick {
  background-image: url("https://github.com/RidhikGovind/mooovieClick/blob/main/img/screenshot.png?raw=true");
}

.gifyMonster {
  background-image: url("https://github.com/RidhikGovind/gifymonster/raw/master/demo/gifymonstercover.png?raw=true");
}

.funkyLogin {
  background-image: url("https://github.com/RidhikGovind/Funky-login-app/blob/master/demo/Database-Login-app.png?raw=true");
}

.happyShop {
  background-image: url("https://github.com/RidhikGovind/SleekShoppingCart/blob/master/images/HappyShop-Webapp.png?raw=true");
}
.prettyCover {
  background-image: url("https://github.com/RidhikGovind/PrettyCover/blob/master/icons/PrettyCover-screenshot.png?raw=true");
}
.p-container:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 3;
}

.p-desc {
  z-index: 5;
  position: relative;
  padding: 4rem;
}

.made-with {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.made-with-item {
  border-radius: 7px;
  margin-top: 1rem;
}

.p-links {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 0.5rem;
  margin-top: 1rem;
}
.p-links a {
  text-decoration: none;
  color: var(--navy-blue-primary);
  background: white;
  text-align: center;
  transition: 0.3s ease-in all;
  z-index: 100;
}

.source-code:hover,
.live-demo:hover {
  background: #002f49;
  cursor: pointer;
  color: whitesmoke;
}

/* // CONTACT SECTION // */
#contact {
  background: #002f49;
  padding: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 1010px) {
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  #contact h2 {
    margin-right: 2rem;
    margin-top: 1rem;
  }
}

#contact h2 {
  color: whitesmoke;
}

.social-icons {
  margin-top: 1.5rem;
}

.social-icons a {
  color: black;
  height: 0.3rem;
  width: 0.3rem;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: white;
  transition: 0.5s ease all;
  border-radius: 10px;
}

.social-icons a i {
  transition: 0.5s ease all;
}
.social-icons a:hover i {
  transform: translateY(-6px);
}
